.Rproj.user
.Rhistory
.RData
.Ruserdata

data/doi_10_5061_dryad_wdbrv15vk__v20250413 (1).zip

data/

DataProcessing/outputs/

*.tif

DataProcessing/validation_outputs/tiles_cache/Esri.WorldImagery/

DataProcessing/SDM_Validation_Report_files/figure-pdf/

DataProcessing/SDM_Validation_Report_files/figure-html/

DataProcessing/SDM_Validation_Report_cache/pdf/

DataProcessing/SDM_Validation_Report_cache/html/
